* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: url(Assets/estacoes.jpg);
  background-size: cover;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

input {
  width: 28.75rem;
  height: 2.5rem;
  margin: 0.625rem;
  border: 0.0625rem solid #19aae6;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  background: #fff;
}

button {
  display: inline-block;
  position: relative;
  color: #19aae6;
  background: #ffffff;
  font-weight: 500;
  font-size: 17px;
  padding: 12px 24px;
  margin: 20px;
  border: 2px solid #19aae6;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

button:before {
  content: "";
  position: absolute;
  background: #19aae6;
  height: 150px;
  width: 200px;
  border-radius: 50%;
  z-index: -1;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: 0.7s;
}

button:hover:before {
  top: -60px;
  left: -7px;
}

button:active:before {
  background: #3a0ca3;
  transition: 0s;
}
